[Unit]
Description=picube-lights

[Service]
ExecStart=/usr/local/bin/node /home/picube/picube/lights/src/index.js
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=picube-lights
Environment=

User=root

[Install]
WantedBy=multi-user.target